/* Farbvariablen deklarieren*/
:root {
  --backgroundcolor: #222222;
  --buttonbackgroundcolor: #333333;
  --textcolor: #aaaaaa;
  --accentwhite: #fefefe;
  --inputtextcolor: #111111;
  --accentblue: #078daa;
}

/* Höhe und Hintergrundfarbe der Website festlegen*/
body,
html {
  height: 100%;
  background-color: var(--backgroundcolor);
  overflow-anchor: none;
}

/* Inputfeld globale Suche und Filter*/
input {
  background-color: var(--accentwhite);
  color: var(--backgroundcolor) !important;
  border: 1px solid var(--accentblue);
  opacity: 0.9;
  background-image: url('img/search.svg');
  background-position: 0.75rem 0.75rem;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 0.5rem 1rem 0.5rem 2.25rem;

}

input[type=text]:focus {
  background-color: var(--accentwhite);
  color: var(--inputtextcolor) !important;
  outline: none;
  opacity: 1;
}

/* Breite des Inputfeldes der globalen Suche festlegen*/
@media only screen and (min-width: 768px) {
  .globalsearch {
    max-width: 11.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .globalsearch {
    width: 100%;
  }
}


/* Hero Image */
.hero-image {
  /* Referenz zur Bilddatei + abdunklen des Bildes */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url("img/carbon-hero.jpg");
  /* Höhe fest definieren*/
  height: 250px;
  /* Position des Hero Bildes*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 80px
}

/* Hero Text centriert über dem Hero Bild */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* Überschrift h1 definieren - Hero Text*/
h1 {
  color: var(--accentwhite);
  text-decoration: none;
  font-size: 4rem;
  font-weight: 800;
}

/* Überschrift h2 definieren - Seitentitel*/
h2 {
  color: var(--accentwhite);
  text-decoration: none;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 800;
}

/* Überschrift h3 definieren - Abschnittsüberschrift*/
h3 {
  color: var(--textcolor);
  text-decoration: none;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-weight: 400;
}

/* allgemeiner Text und Links*/
p {
  color: var(--textcolor);
  text-decoration: none;
}

p a {
  color: #aaaaaa;
  text-decoration: underline;
}

p a:visited {
  color: #aaaaaa;
}

p a:hover {
  color: #cecece;
  background-color: #555555;
}

/* Klassen für Textgröße für Tabelleninhalt*/
.tabltext {
  font-size: 16px;
}

@media only screen and (max-width: 375px) {
  .tabletext {
    font-size: 15px;
  }
}

ul {
  padding-left: 0px;
  color: var(--textcolor);
}


/* Hintergrundfarbe der Naviagtion festlegen*/
nav {
  background-color: var(--backgroundcolor);
}

/* Klassen für globale Navigation*/
.globalnav a {
  background-color: var(--backgroundcolor);
  color: var(--textcolor);
  text-decoration: none;
  padding: 0.5rem;
  text-decoration: none;
}

.globalnav a:hover {
  background-color: var(--accentwhite);
  color: var(--backgroundcolor);
}

.globalnav.active a {
  background-color: var(--backgroundcolor);
  color: var(--accentwhite);
  text-decoration: underline;
}

.globalnav.active a:hover {
  background-color: var(--accentwhite);
  color: var(--backgroundcolor);

}

/* Klassen für Haupt-Navigation */
.main-nav {
  background-color: var(--backgroundcolor);
  color: var(--accentwhite);
  text-decoration: none;
  border: 0;
  padding: 16px 16px;
  margin: 0px;
}

.main-nav:hover {
  background-color: var(--accentwhite);
  color: var(--backgroundcolor);
}

.main-nav.active {
  background-color: var(--accentblue);
  color: var(--accentwhite);
}

/* Klassen für Buttons für Filterkriterium*/
.filterbutton {
  background-color: var(--buttonbackgroundcolor);
  color: var(--accentwhite);
  border: 1px solid var(--accentblue);
  width: 50%;
}

.filterbutton:hover {
  background-color: var(--accentwhite);
  color: var(--buttonbackgroundcolor);
}

.filterbutton.active {
  background-color: var(--accentblue);
  color: var(--accentwhite);
}

/* Klassen für Buttons für Umstellung der Sprache*/
.langbutton {
  background-color: var(--backgroundcolor);
  color: var(--textcolor);
  padding: 0.5rem !important;
}

.langbutton:hover {
  background-color: var(--accentwhite);
  color: var(--backgroundcolor);
}

.langbutton.active {
  background-color: var(--backgroundcolor);
  color: var(--accentwhite);
  text-decoration: underline;
}

/* Klassen für Buttons für Sortierung der Tabelle*/
.sortbutton {
  background-color: transparent;
  color: var(--accentwhite);
}

.sortbutton:hover {
  background-color: var(--accentwhite);
  color: var(--backgroundcolor);
}

.sortbutton.active {
  background-color: var(--accentblue);
  color: var(--accentwhite);
}

/* Anpassung Hamburger Icon*/
.navbar-toggler-icon {
  font-size: 0.8rem;

}

.navbar-toggler-icon:hover {
  font-size: 0.8rem;

}

.navbar-toggler {
  background-color: var(--accentwhite);
  border-radius: 0px;
  padding: 0.25rem;

}

.navbar-toggler:hover {
  background-color: var(--accentwhite);
  border-radius: 4px;
  padding: 0.25rem;
}


/* Klassen für Footer Elemente*/
.footernav {
  padding: 0rem 2rem 0rem 0rem;
  margin-bottom: 2rem !important;
}

.footernav a {

  color: var(--textcolor);
  text-decoration: none;
}

.footernav a:hover {
  color: var(--accentwhite);
}

/* Klassen für Schrift für Unterseiten*/
.text-grey {
  color: var(--textcolor);
  text-decoration: none;
}

.infobox-header {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}